* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-magenta: #a945c7;
  --color-cyan: #2ea4ac;
}

body {
  margin: 0;
  background-color: #282c34;
  text-align: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
  padding: 2%;
  display: inline-block;
}

.imagen {
  width: 50%;
  height: 50%;
}

.maquina-escribir {
  display: block;
  margin: auto;
  font-family: monospace;
  white-space: nowrap;
  border-right: 1px solid;
  width: 12ch;
  animation: typing 4s steps(15) infinite;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

.espaciado{
  margin-left: 10px;
}
